*{
	margin: 0;
	padding:0;
	list-style: none;
	text-decoration: none;
}
body>img{
	display: block;
	width: 327px;
	height: 88px;
	margin: 0 auto;
}

footer{
	width: 100%;
	height: 320px;
	background: #472229;
	margin-top:45px;
	position: relative;
}
footer>img{
	display: block;
	width:385px;
	height: 50px;
	margin: 0 auto; 
}

.dot{
	width: 68px;
	height: 68px;
	background: rgba(255,255,255,0.5);
	border-radius: 50%;	
	position: absolute;
	top:10px;
	left:48%;
	right:48%;
}
.dot>a{
	display: block;
	width:54px;
	height: 54px;
	border-radius: 50%;
	background: #fff;
	color: #282828;
	text-align: center;
	margin: 7px 0 0 7px;
	float:left;
	font-size: 26px;
	line-height: 54px;
}
footer>ul{
	width: 340px;
	height: 80px;
	/*background: pink;*/
	margin: 50px auto 30px;
}
footer>ul>li{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #fff;
	float: left;
	margin-left:30px;
	color:#A4714A;
	line-height: 35px;
	text-align: center;
}
footer>ul>li:nth-child(2) {
	margin: 0 0 0 95px;
}
footer>ul>li:nth-child(3) {
	float:right;
	margin-right:30px;
}
footer>ul>a{
	display: block;
	float:left;
	color:#fff;
	margin-top:10px;
	font-size: 14px;
	margin-left: 10px;
}
footer>ul>a:nth-child(5){
	margin: 10px 0 0 50px;
}
footer>ul>a:nth-child(6){
	float:right;
	margin-right:18px;
}
footer>a{
	display:block; 
	width:720px;
	margin:0 auto;
	color:#fff;
	line-height: 30px;
}
footer>a:last-child{
	display:block; 
	width:650px;
	margin:0 auto;
	color:#fff;
}
