header{
	width:100%;
	height:90px;
	background: #fff;
}
header>img{
	display: block;
	width:316px;
	height: 100%;
	margin: 0 auto;
}
nav{
	width: 100%;
	height:50px;
	background: #4C2629;
}
nav>ul{
	width: 880px;
	height: 50px;
	margin:0 auto;
	display: flex;
}
nav>ul>li{
	flex-grow:1;
	float:left;
	/*background: pink;*/
	text-align: center;
	position: relative;
}
nav>ul>li>a{
	color:#FF9B58;
	font-size: 16px;
	line-height: 50px;
}
nav>ul>li:first-child a{
	color:#FFD6B4; 
}
nav>ul>li>a:hover{
	color:#FFD6B4;
}
nav>ul>li>i{
	display: block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background:#FF9B58; 
	position: absolute;
	top:23px;
	left:7px;
}	
body>img:first-of-type{
	display: block;
	width: 1200px;
	height:130px;
	margin: 25px auto;
}
.leadBox{
	width: 1200px;
	height: 35px;
	margin: 23px auto;
	/*background: pink;*/
}
.lead{
	width: 30px;
	height: 30px;
	border:1px solid #ECEAE8;
	border-radius: 50%;
	float:left;
}
.lead>i{
	display: block;
	width:20px;
	height: 20px;
	border:1px solid #DBD8D3;
	border-radius: 50%;
	margin: 4px auto;
	line-height: 20px;
	text-align: center;
}
.leadBox>a{
	color:#8F8C87;
	font-size: 18px;
	line-height: 35px;
	float:left;
	margin-left:7px;
}
.leadBox>i{
	color:#666;
	font-size: 13px;
	line-height: 35px;
	float:left;
	margin-left:6px;
	margin-right:8px;
}
.lead1{
	width: 30px;
	height: 30px;
	background: #4C2629;
	border:1px solid #ECEAE8;
	border-radius: 50%;
	float:left;
}
.lead1>i{
	display: block;
	width:20px;
	height: 20px;
	border:1px solid #DBD8D3;
	border-radius: 50%;
	margin: 4px auto;
	line-height: 20px;
	text-align: center;
	color:#ECEAE8;
}
.leadBox:last-child a{
	color:#4C2629;
	font-size: 18px;
	line-height: 35px;
	float:left;
	margin-left:7px;
}
.one>img{
	display: block;
	width: 100%;
}
.two{
	width: 100%;
	height: auto;
	background:#fff;
}
.twoBox{
	width: 1200px;
	height: 100%;
	margin:0 auto;
}
.q{
	display: block;
	margin:100px auto 50px; 
}
.r{
	position: relative;
} 
.r>img{
	display: block;
	margin:0 auto;
	
}
.w{
	width: 700px;
	font-size: 14px;
	position: absolute;
	top:123px;
	left:246px;
	color: #462327;
	font-weight: bold;
}
.e{
	width: 700px;
	font-size: 14px;
	position: absolute;
	bottom: 27px;
	left:246px;
	color: #999999;
	font-weight: bold;
}
.t{
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
}
.t img{
	display: block;
}
.y,.u{
	width: 373px;
	height: 469px;
}
.i,.o{
	width: 420px;
	height: 228px;
}
.i{
	margin-bottom: 12px;
}
.p{
	margin-top: 50px;
}
.s{
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
}
.s img{
	display: block;
	width: 481px;
	height: 251px;
}
.three{
	width: 100%;
	height: auto;
	background-image: url(../img/2345截图20170228015952.jpg);
	height: 432px;
	margin-top:200px;
}
.threeBox{
	width: 1200px;
	height: auto;
	margin: 0 auto;position: relative;
}
.f{
	position: absolute;
	top:-164px;
	left:97px;
}
.g,.h{
	left:185px;
}
.j,.k{
	font-size: 14px;
	color: #666666;
	margin:31px 0 0 395px; 
	display: block;
}
.j{
	margin-top:71px;
}
.z{
	display: block;
	margin: 75px auto 30px;
}
.x{
	font-size: 18px;
	color: #462327;
	margin-left: 35%;
}
footer>ul{
	width: 340px;
	height: 80px;
	/*background: pink;*/
	margin: 50px auto 30px;
}
footer>ul>li{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #fff;
	float: left;
	margin-left:30px;
	color:#A4714A;
	line-height: 35px;
	text-align: center;
}
footer>ul>li:nth-child(2) {
	margin: 0 0 0 95px;
}
footer>ul>li:nth-child(3) {
	float:right;
	margin-right:30px;
}
footer>ul>a{
	display: block;
	float:left;
	color:#fff;
	margin-top:10px;
	font-size: 14px;
	margin-left: 10px;
}
footer>ul>a:nth-child(5){
	margin: 10px 0 0 50px;
}
footer>ul>a:nth-child(6){
	float:right;
	margin-right:18px;
}
footer>a{
	display:block; 
	width:720px;
	margin:0 auto;
	color:#fff;
	line-height: 30px;
}
footer>a:last-child{
	display:block; 
	width:650px;
	margin:0 auto;
	color:#fff;
}








