*{
	margin: 0;
	padding:0;
	list-style: none;
	text-decoration: none;
}
.banner{
	width: 100%;
	height: 370px;
	margin-top: 20px;
}
.banner>img{
	width: 100%;
}

.goods_con{
	width: 1200px;
	height:435px;
	margin: 0 auto;
	justify-content: space-between;
}
.goods_con_left{
	flex-grow: 1;
	width: 771px;
	height: 100%;
	float: left;
}
.goods_con_left img{
	width: 100%;
	height: 100%;
}
.goods_con_right{
	height: 100%;
	box-sizing: border-box;
}
.goods_bot_item{
	width: 100%;
	height: 100%;
}
.goods_item_top{
	/* background: red; */
}

.goods_item_bot{
	text-align: center;
	padding-top: 50px;
}
.goods_item_bot img{
padding-top: 10px;
}
.goods_item_bot a{
	color:black;
	font-family: "苹方";
	font-weight: 700;
	font-size: 20px;
}
.goods_item_bot p{
	padding-top: 10px;
	font-size: 18px;
	text-align: center;
	line-height: 25px;
	color: #050505;
}

.fenye{
	width: 100%;
	height: 100px;
	margin: 0 auto;
	/* margin: 20px 0 40px 0; */
}
.fen_img{ 
	width: 645px;
	height: 100%;
	margin: 0 auto; 
}
.fen_box{
	width: 220px;
	height: 100px;
	margin: 20px auto;
	position: relative;
}
.fen_box a{
	text-align: left;
	font-size: 20px;
	line-height: 100px;
	color: #383838;
	display: inline-block;
}
.fen_box ul{
	width: 128px;
	height: 20px;
	margin: 0 auto;
	position: absolute;
	top: 40%;
	left: 23%;
	display: flex;
	justify-content: space-around;
}
.fen_box ul>li{
	width: 20px;
	height:20px;
	border-radius: 50%;
	float: left;
	background: #050001;
	text-align: center;
	line-height: 20px;
	color: white;
	font-size: 13px;
	font-weight: 700;
}

.fen_nav{
	width: 600px;
	height: 100px;
	margin: 0 auto;
}
.fen_nav a{
	margin-left: 85px;
	font-size: 22px;
	color: #999999;
}
.new_bot{
	width: 1000px;
	height: 538px;
	margin: 20px auto;
	box-sizing: border-box;
}
.new_bot_item{
	width: 303px;
	height: 488px;
	float:left;
}
.item_top{
	width: 303px;
	height: 367px;
}
.item_top img{
	width: 100%;
	height: 100%;
}
.item_bot{
	width: 100%;
	height: 117px;
	text-align: center;
	padding: 20px 0px;
}
.item_bot img{
padding-top: 10px;
}
.item_bot a{
	color: #1F1F1F;
	font-family: "苹方";
	font-weight: 500;
	font-size: 18px;
}
.item_bot p{
	padding-top: 10px;
	font-size: 13px;
	text-align: center;
	line-height: 25px;
	color: #545454;
}

